@model Charge2Go.Models.HomePageMiddle

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>HomePageMiddle</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ImageMiddle" class="control-label"></label>
                <input type="file" name="file" class="form-control file" />
            </div>
            <div class="form-group">
                <label asp-for="ImageMiddleTitle" class="control-label"></label>
                <input asp-for="ImageMiddleTitle" class="form-control" />
                <span asp-validation-for="ImageMiddleTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageMiddleSubtitle" class="control-label"></label>
                <input asp-for="ImageMiddleSubtitle" class="form-control" />
                <span asp-validation-for="ImageMiddleSubtitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
